li id="answer-#{answer.id}"
  =answer.body

  =form_with model: answer,  class: "hidden", html: { id: "edit-answer-#{answer.id}"} do |f|
    =f.label "Answer body"
    =f.text_area :body
    p =f.submit "Save"

  -if answer.user == current_user
    p =link_to "Edit", "#", class: "edit-answer-link", data: { answer_id: answer.id }
    =button_to "delete", answer_path(answer), remote: true, method: :delete
    
  
    