<div class="card mt-3">
  <div class="card-body" id="comment-{{comment.id}}">
     <div class="comment-date mb-1 text-secondary  text-end ">
      <small>{{comment.date}}</small>
    </div>
    <div class="comment-body mb-1">
      {{comment.body}}
    </div>
   
    <div class="comment-author text-end text-secondary small">
      {{comment.author_email}}
    </div>
  </div>
</div>
  