.flash-notice {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border-color: green;
  background-color:mediumseagreen;
}

.flash-alert {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border-color: red;
  background-color:lightcoral;
}
